<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
            <div class="main-content">
        {{>header}}
        <p>
            This site was created me, David Whiteside. It currently uses data from mapbox.com and OpenWeather API. Over time, the site will gain more content.
            It will show my skills, hobbies and will act as outlet for me as well as a portfolio.
        </p>
        <img class="portrait" src="/images/profile.jpg">
    </div>
    {{>footer}}
</body>

</html>